#mainTitle{
    text-align: center;
}

#Maincontainer{
    width: 50%;
    margin: 0 auto;
    box-shadow:5px 5px 28px 0 rgb(0 0 0 / 49%);
    padding: 5rem;
     position: absolute;
    top: 50%;
    transform: translate(-50%,-50%);
    left: 50%;
    border-radius: 15px;
}